@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primario: #EAF6FF;
    --color-secundario: #005A9C;
    --color-terciario: #007BFF;
    --color-cuaternario: #2C3E50;
    --color-quinario: #b1e9f7;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-Poppins: "Poppins", sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.5rem;
    font-family: var(--fuente-montserrat);
    color: var(--color-secundario);
}

.presentacion__contenido__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    color: var(--color-terciario);
}

.titulo__destaque{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-Poppins);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-montserrat);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-secundario);
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-cuaternario);
    border: 2px solid var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-quinario);
}

.presentacion__imagen{
    width: 40%;
    height: 40%;
    border-radius: 20%;
    margin: 5%;
}

.bloque{
    display: flex;
    flex-direction: column; /* Cambio para alinear las imágenes verticalmente */
    align-items: center; /* Centrar imágenes horizontalmente */
    gap: 100px; /* Ajusta el espacio entre las imágenes */
}

.bloque__imagen{
    width: 100%; /* Ajusta el ancho de las imágenes */
    max-width: 350px; /* Ajusta el ancho máximo para que no sean demasiado grandes */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 10px; /* Ajusta el radio del borde */
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }
    
    .header__menu{
        justify-content: center;
    }
    
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}